body {
	background-color: #EEE;
	font-family: 微軟正黑體;
}
.enemy-data {
    margin-bottom: 20px
}
.input-imp{
	max-width: 75px;
}
.damage-table{
	text-align: center;
    margin-top: 20px
}
.table-yellow{
	background-color: #FFFFAA;
}
